a{color:#FBFDB0;font-family:verdana;cursor:pointer;text-decoration:none;font-weight:bold;}
h3{font-family: tahoma;font-size: 25px;color:#86EE59;font-weight:bold}
input{background:#222222;color:#99D6FF;border:solid 1px #bbbbbb;font-family:'trebuchet ms'}
textarea{background:#222222;color:#99D6FF}
iframe{background:#000001;border:solid 1px #bbbbbb}
body{background:#000001;color:#99D6FF;font-family:verdana;font-size:16px;}